/*  ================================
        global area start
    ================================ */

body {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    color: #1a1a1a;
}

a,
a:hover,
a:focus {
    outline: none;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a {
    margin: 0;
    padding: 0;
}

.main-div {
    overflow: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/*  ================================
        global area end
    ================================ */

/*  ================================
        header area start
    ================================ */

.why-us {
    width: 12%;
    float: left;
}

.why-us h3 {
    background-color: #005ea6;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 17px 20px;
    display: block;
    text-transform: uppercase;
}

.why-us i.fa {
    height: 25px;
    width: 25px;
    line-height: 25px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    margin-left: 10px;
}

.support-box {
    overflow: hidden;
    background-color: #000;
    margin-bottom: 30px;
}

.support-box ul li {
    float: left;
    width: 20%;
    list-style: none;
    position: relative;
    padding: 10px 0;
    border-left: 0;
    text-align: center;
    position: relative;
}

.support-box ul li::before {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    background-color: #fff;
    height: 122%;
    width: 1px;
}

.support-box ul li:last-child {
    margin-right: 0;
}

.service-box {
    overflow: hidden;
    width: 88%;
    float: left;
}

.service-box ul li span {
    font-weight: 600;
    padding: 4px 10px;
    font-family: 'Open Sans', sans-serif;
    transition: 0.5s;
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    position: relative;
    top: 3px;
}

.header-wraper {
    margin: 30px 0 0;
}

.satisfacation {
    margin: 41px 0;
}

.satisfacation img {
    width: 120px;
    margin-right: 10px;
}

.logo {
    text-align: center;
}

.logo img {
    width: 300px;
}

/*  ================================
        header area end
    ================================ */

.Product-title-area {
    background-color: #000000;
    margin-top: 30px;
}

.pro-title {
    padding: 30px 0;
    text-align: center;
}

.pro-title h3 {
    color: #fff;
    font-size: 26px;
    display: inline-block;
    line-height: 1.4;
    font-weight: 700;
}

/*  ================================
        product area start
    ================================ */
.banner-area img {
    margin-top: 30px;
}

.csslider {
    position: relative;
}

.csslider > input {
    display: none;
}

.csslider > input:nth-of-type(12):checked ~ ul li:first-of-type {
    margin-left: -1100%;
}

.csslider > input:nth-of-type(11):checked ~ ul li:first-of-type {
    margin-left: -1000%;
}

.csslider > input:nth-of-type(10):checked ~ ul li:first-of-type {
    margin-left: -900%;
}

.csslider > input:nth-of-type(9):checked ~ ul li:first-of-type {
    margin-left: -800%;
}

.csslider > input:nth-of-type(8):checked ~ ul li:first-of-type {
    margin-left: -700%;
}

.csslider > input:nth-of-type(7):checked ~ ul li:first-of-type {
    margin-left: -600%;
}

.csslider > input:nth-of-type(6):checked ~ ul li:first-of-type {
    margin-left: -500%;
}

.csslider > input:nth-of-type(5):checked ~ ul li:first-of-type {
    margin-left: -400%;
}

.csslider > input:nth-of-type(4):checked ~ ul li:first-of-type {
    margin-left: -300%;
}

.csslider > input:nth-of-type(3):checked ~ ul li:first-of-type {
    margin-left: -200%;
}

.csslider > input:nth-of-type(2):checked ~ ul li:first-of-type {
    margin-left: -100%;
}

.csslider > input:nth-of-type(1):checked ~ ul li:first-of-type {
    margin-left: 0;
}

.csslider > ul {
    box-sizing: border-box;
    font-size: 0;
    line-height: 0;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    white-space: nowrap;
    z-index: 1;
}

.csslider > ul > li {
    box-sizing: border-box;
    display: inline-block;
    font-size: initial;
    height: 600px;
    line-height: normal;
    overflow: hidden;
    position: relative;
    transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1) 0s;
    vertical-align: middle;
    white-space: normal;
    width: 100%;
    text-align: center;
}

.csslider > ul > li.scrollable {
    overflow-y: scroll;
}

.csslider > .navigation {
    margin-top: 15px;
}

.csslider > .navigation label {
    background: transparent none repeat scroll 0 0;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    padding: 4px;
    position: relative;
    width: 70px;
    height: 70px;
    vertical-align: middle;
}

.csslider > .navigation label img {
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 5px;
}

.csslider > .navigation label:hover::after {
    opacity: 1;
}

.csslider > .navigation label::after {
    background: transparent none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    left: 50%;
    margin-left: -6px;
    margin-top: -6px;
    opacity: 0;
    padding: 6px;
    position: absolute;
    top: 50%;
}

.csslider > .arrows {
    -moz-user-select: none;
}

.csslider.inside .navigation {
    bottom: 10px;
    margin-bottom: 10px;
}

.csslider.inside .navigation label {
    border: 1px solid #7e7e7e;
}

.csslider > input:nth-of-type(1):checked ~ .navigation label:nth-of-type(1)::after,
.csslider > input:nth-of-type(2):checked ~ .navigation label:nth-of-type(2)::after,
.csslider > input:nth-of-type(3):checked ~ .navigation label:nth-of-type(3)::after,
.csslider > input:nth-of-type(4):checked ~ .navigation label:nth-of-type(4)::after,
.csslider > input:nth-of-type(5):checked ~ .navigation label:nth-of-type(5)::after,
.csslider > input:nth-of-type(6):checked ~ .navigation label:nth-of-type(6)::after,
.csslider > input:nth-of-type(7):checked ~ .navigation label:nth-of-type(7)::after,
.csslider > input:nth-of-type(8):checked ~ .navigation label:nth-of-type(8)::after,
.csslider > input:nth-of-type(9):checked ~ .navigation label:nth-of-type(9)::after,
.csslider > input:nth-of-type(10):checked ~ .navigation label:nth-of-type(10)::after,
.csslider > input:nth-of-type(11):checked ~ .navigation label:nth-of-type(11)::after,
.csslider > input:nth-of-type(12):checked ~ .navigation label:nth-of-type(12)::after {
    opacity: 1;
}

.csslider > .arrows {
    box-sizing: content-box;
    height: 26px;
    left: -31px;
    padding: 0 31px;
    position: absolute;
    top: 40%;
    width: 100%;
    z-index: 0;
}

.csslider > .arrows label {
    box-shadow: 2px -2px 0 1px #3a3a3a inset;
    cursor: pointer;
    display: none;
    padding: 13px;
    position: absolute;
    top: -50%;
    transition: box-shadow 0.15s ease 0s, margin 0.15s ease 0s;
    z-index: 9999;
}

.csslider > .arrows label:hover {
    box-shadow: 3px -3px 0 2px #000 inset;
    margin: 0;
}

.rt-container {
    margin: 0 auto;
    padding: 30px;
}

.csslider ul li img {
    height: auto;
    width: auto;
    max-height: 100%;
}

.navigation > label {
    border: 1px solid #ddd;
    border-radius: 5px !important;
    margin-bottom: 5px;
}

.box-area h1 {
    background-color: #000;
    color: #fff;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 600;
    margin-top: 30px;
    text-transform: uppercase;
    text-align: center;
}

.box-content {
    padding: 30px;
    overflow: hidden;
}

.pro-img {
    padding-bottom: 0;
    overflow: hidden;
}

.product-img {
    text-align: center;
    margin-top: 30px;
    border: 3px solid #000;
    position: relative;
}

.img-caption {
    height: 56px;
    background-color: #0070BA;
}

.img-caption h2 {
    color: #fff;
    font-size: 20px;
    line-height: 56px;
}

.warranty {
    margin: 30px 0;
    float: left;
    width: 100%;
    text-align: center;
}

.pro-features h3 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
}

.pro-content {
    color: #000;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

.pro-content h2 {
    color: #2D2E2F;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
}

.pro-content h3 {
    color: #2D2E2F;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

.pro-content h4 {
    text-transform: uppercase;
    font-size: 28px;
    color: #000;
    margin: 20px 0;
    font-weight: 700;
    border-left: 3px solid #000;
    padding-left: 15px;
}

.pro-content h5 {
    font-size: 14px;
    color: #2a2a2a;
    margin: 20px 0 10px;
    font-weight: 600;
}

.pro-content ul {
    margin-bottom: 15px;
}

.pro-content ul li {
    list-style: none;
    padding: 3px 20px;
    position: relative;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.pro-content ul li::before {
    position: absolute;
    content: "+";
    left: 0;
    font-weight: 700;
    color: #717171;
}

.border-box {
    overflow: hidden;
}

.col-half {
    background-color: #f8f8f8;
    border: 1px solid #e1e1e1;
    display: inline-block;
    width: 37%;
    float: left;
    padding: 10px 30px 20px;
}

.stock-img {
    margin-top: 20px;
}

.stock-img img {
    width: 90px;
    float: left;
    margin-right: 15px;
}

.stock-img p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

.offer-img {
    width: 27%;
    float: left;
    margin: 14px 0;
    text-align: center;
}

.dec-table {
    width: 30%;
    float: left;
}

.price,
.buynow,
.save,
.percent {
    border-bottom: 1px solid #e1e1e1;
    padding: 5px;
    font-size: 14px;
}

.buynow {
    color: #0158AC;
}

.save {
    color: #C30A1D;
}

.feedback h2 {
    background-color: #000;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 10px 10px 14px;
    color: #fbfbfb;
}

.box-des h1 {
    padding-left: 30px;
    margin-top: 30px;
}

.pro-content table {
    border: 1px solid #dcdcdc;
    border-left: none;
    border-bottom: none;
    width: 60% !important;
    margin-bottom: 50px;
}

.pro-content table > tbody > tr > td:nth-child(1) {
    font-weight: bold;
}

.pro-content table tr td {
    border: 1px solid #dcdcdc !important;
    padding: 10px 40px !important;
    border-top: none !important;
    border-right: none !important;
    color: #000;
    text-align: left;
    font-size: 14px;
}

.pro-content table tr:nth-child(2n) {
    background-color: #f2f2f2;
}

.dec-table table,
.dec-table td {
    border: 1px solid #D1D1D1;
    font-size: 14px;
    font-family: 'Open Sans',
        sans-serif;
}

.dec-table td {
    padding: 9px 30px;
}

.dec-table tr:nth-child(2n) {
    background-color: #fff;
}

/*  ================================
        product area end
    ================================ */

/*  ================================
        footer area start
    ================================ */

.footer-top {
    border-top: 30px solid #000;
    padding: 30px 0;
}

.footer-top img{
    width: 300px;
}

.copy-right {
    padding: 30px 0;
    background-color: #000;
}

.copy-right p {
    color: #fff;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.f-ex {
    padding-bottom: 0;
}

.pay img {
    margin-top: 15px;
}

/*  ================================
        footer area end
    ================================ */

.slider-area {
    margin-bottom: 10px;
}

@keyframes slidy {
    0% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

#slider {
    overflow: hidden;
}

#slider figure img {
    float: left;
    width: 20%;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite;
}
